@model HomeDecor.Models.DecorModel

@{
    ViewData["Title"] = "Details";
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Home" class="navbar-brand">Home Decor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (TempData["username"] != null)
                {
                    <li><a asp-area="" asp-controller="UserLogins" asp-action="Logout">Logout</a></li>
                }
            </ul>
        </div>
    </div>
</nav>
<h3>Details</h3>

<div>
    <h4>DecorModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Resource_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resource_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Resource_code)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Resource_code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        
        <dd>
                    @Html.DropDownListFor(model => model.isActive, 
                    new SelectList(Enum.GetValues(typeof(isActive))), 
                    "", new { @class = "form - control",@disabled="disabled" })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Resource_code">Edit</a> |
    <a asp-action="Index">Back to Resource List</a>
    <a asp-controller= "FacilityModels" asp-action="Index">| Back to Facilities List</a>
</div>
