@model IEnumerable<HomeDecor.Models.DecorModel>

@{
    ViewData["Title"] = "Resources list ";
}

<h3>List of Furniture items</h3>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Home" class="navbar-brand">Home Decor</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (TempData["username"] != null)
                {
                    <li><a asp-area="" asp-controller="UserLogins" asp-action="Logout">Logout</a></li>
                }
            </ul>
        </div>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resource_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource_description)

            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Resource_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Resource_code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resource_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resource_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Facility_code)
                </td>
                <td>
                    @Html.DropDownListFor(modelItem => item.isActive, 
                    new SelectList(Enum.GetValues(typeof(isActive))), 
                    "", new { @class = "form - control",@disabled="disabled" })
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Resource_code">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Resource_code">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Resource_code">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

